name: hello world workflow
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:


jobs:
  hello:
    run-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: hello world
        run: echo "hello world"
        shell: bash
  goodbye:
    run-on: ubuntu-lastest
    steps:
      - name: goodbye world
        run: echo "goodbye world"
        shell: bash
